<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Qliro_QliroOne::qliroone" title="QliroOne" sortOrder="100">
                    <resource id="Qliro_QliroOne::log_view" title="QliroOne Logs" sortOrder="10">
                        <resource id="Qliro_QliroOne::log_delete" title="QliroOne Delete Logs" sortOrder="10" />
                    </resource>
                </resource>
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="Qliro_QliroOne::system_config" title="QliroOne Config" />
                            <resource id="Qliro_QliroOne::log_download" title="QliroOne Download Logs" />
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>