<?xml version="1.0"?>
<!--
/**
 * Copyright © Qliro AB. All rights reserved.
 * See LICENSE.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Checkout\Model\CompositeConfigProvider">
        <arguments>
            <argument name="configProviders" xsi:type="array">
                <item name="checkout_qliro_config" xsi:type="object">Qliro\QliroOne\Model\CheckoutConfigProvider</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Checkout\Block\Checkout\LayoutProcessor">
        <plugin name="qo_add_html_snippet" type="Qliro\QliroOne\Plugin\Checkout\Block\Checkout\LayoutProcessorPlugin" sortOrder="99999" />
    </type>

    <type name="Magento\Checkout\Block\Checkout\TotalsProcessor">
        <plugin name="qo_totals_processor_guard" type="Qliro\QliroOne\Plugin\Checkout\Block\Checkout\TotalsProcessorPlugin" />
    </type>

    <type name="Magento\Checkout\Model\Type\Onepage">
        <plugin name="qliroone_onepage" type="Qliro\QliroOne\Plugin\Model\Type\Onepage" />
    </type>

    <type name="Magento\Checkout\Model\Cart">
        <plugin name="qliro_prevent_cart_changes_when_locked" type="Qliro\QliroOne\Plugin\PreventChangeInCartWhenLocked\Cart"/>
    </type>

    <type name="Magento\Checkout\Controller\Cart\CouponPost">
        <plugin name="qliro_prevent_coupon_changes_when_locked" type="Qliro\QliroOne\Plugin\PreventChangeInCartWhenLocked\Coupon"/>
    </type>

    <type name="Magento\Customer\Model\AccountManagement">
        <plugin name="qliro_prevent_login_in_when_locked" type="Qliro\QliroOne\Plugin\PreventChangeInCartWhenLocked\Login"/>
    </type>

    <type name="Magento\Customer\Controller\Account\Logout">
        <plugin name="qliro_prevent_logout_in_when_locked" type="Qliro\QliroOne\Plugin\PreventChangeInCartWhenLocked\Logout"/>
    </type>
</config>
