<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework/ObjectManager/etc/config.xsd">
    <type name="Magento\Sales\Model\ResourceModel\Order\Grid\Collection">
        <plugin name="recurring_orders_grid_collection_plugin" type="Qliro\QliroOne\Plugin\AddRecurringColumnToOrderGrid" />
    </type>

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="qliroone_log_listing_data_source" xsi:type="string">
                    Qliro\QliroOne\Model\ResourceModel\LogRecord\Grid\Collection
                </item>
            </argument>
        </arguments>
    </type>
</config>